/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text{
    background-image: linear-gradient(90deg,#5a9ad3 20%,#bc70ff 80%);
    background-clip : text;
    color: transparent;
}

.gradient-text2{
    background-image: linear-gradient(90deg,#fb7185 20%,#881337 80%);
    background-clip : text;
    color: transparent;
}

.gradient-text3{
    background-image: linear-gradient(90deg,#5a9ad3 20%,#bc70ff 80%);
    background-clip : text;
    color: transparent;
}

.gradient-text4{
    background-image: linear-gradient(90deg,#5a9ad3 20%,#bc70ff 80%);
    background-clip : text;
    color: transparent;
}